.chess-box {
  width: 50px;
  height: 50px;
  border: 1px solid gray;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.chess-item.red {
  background:radial-gradient(#fff, red);
}

.chess-item.black {
  background: radial-gradient(#fff, #000);
}